@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(50, 205, 50, var(--gradient-opacity)); /* Зеленый лайм */
  --secondary-color: rgba(60, 179, 113, var(--gradient-opacity)); /* Средний морской зеленый */
  --accent-color: rgba(34, 139, 34, var(--gradient-opacity)); /* Лесной зеленый */
}
